---
import {getLangFromUrl, useTranslations} from '../../i18n/utils';
import { languages } from '../../i18n/ui';
import { Icon } from 'astro-icon/components'
import StandardPage from "../../layouts/StandardPage.astro";
import LinkTile from "../../components/LinkTile.astro"
import SignInPanel from "../../components/SignInPanel.tsx";
const l = getLangFromUrl(Astro.url);
const t = useTranslations(l);

const { locale } = Astro.params;

---

<StandardPage>
    <div class="flex flex-col items-center">
        <h1 class="text-center text-3xl">{t('index.sign_in')}</h1>

        <SignInPanel client:load lang={l}/>


    </div>


</StandardPage>