---
import {getLangFromUrl, useTranslations} from '../../../i18n/utils';
import { languages } from '../../../i18n/ui';
import StandardPage from "../../../layouts/StandardPage.astro";
import ProjectsView from "../../../components/translator/ProjectsView.tsx";

const l = getLangFromUrl(Astro.url);
const t = useTranslations(l);

const { locale } = Astro.params;

const userData = Astro.locals.user;
if (!userData || userData.role !== "Translator") {
    return Astro.redirect(`/${l}/`);
}
---

<StandardPage>
    <div class="flex flex-col items-center">
        <h1 class="text-center text-3xl">Assigned Projects</h1>
        <ProjectsView client:load lang={l} type="ASSIGNED"></ProjectsView>
    </div>


</StandardPage>