---
import { getLangFromUrl, useTranslations } from '../../../i18n/utils';
import StandardPage from "../../../layouts/StandardPage.astro";
import TranslatedFileUploader from '../../../components/translator/TranslatedFileUploader.tsx';

const l = getLangFromUrl(Astro.url);
const t = useTranslations(l);

const { locale } = Astro.params;
const userData = Astro.locals.user;

if (!userData || userData.role !== "Translator") {
    return Astro.redirect(`/${l}/`);
}

const projectId = Astro.url.searchParams.get("projectId") || '';
---

<StandardPage>
    <div class="flex flex-col items-center">
        {(!projectId) ? (
                <h1 class="text-center text-3xl">{t('translator.no_project_id')}</h1>
        ) : (
                <>
                    <h1 class="text-center text-3xl">{t('translator.upload_translated_project')}</h1>
                    <TranslatedFileUploader client:load lang={l} projectId={projectId} />
                </>
        )}
    </div>
</StandardPage>
