---
---

<div id="swagger"></div>

<script>
    import {SwaggerUIBundle} from "swagger-ui-dist";
    import "swagger-ui-dist/swagger-ui.css";
    const ui = SwaggerUIBundle({
        url: "/openapi.yaml",
        dom_id: '#swagger',
        presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIBundle.SwaggerUIStandalonePreset
        ],
    })
</script>
