---
import {getLangFromUrl, useTranslations} from '../../../i18n/utils';
import { languages } from '../../../i18n/ui';
import StandardPage from "../../../layouts/StandardPage.astro";
import ProjectCreator from "../../../components/customer/ProjectCreator.tsx";

const l = getLangFromUrl(Astro.url);
const t = useTranslations(l);

const { locale } = Astro.params;

const userData = Astro.locals.user;
if (!userData || userData.role !== "Customer") {
    return Astro.redirect(`/${l}/`);
}
---

<StandardPage>
    <div class="flex flex-col items-center">
        <h1 class="text-center text-3xl">New Project</h1>
        <ProjectCreator client:load lang={l}></ProjectCreator>
    </div>


</StandardPage>